@keyframes fadeinout {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 550;
    font-display: swap;
    animation: fadeinout 1.5s;
    z-index: 0;
}

.container2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 550;
    font-display: swap;
    animation: fadeinout 1.5s;
}

form{
    background: #f8f4f459;
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw;
    width: 90%;
    max-width: 600px;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 550;
    font-display: swap;
    font-size: x-large;
    z-index: 0;
}

form h3{
    color: black;
    font-weight: 800;
    margin-bottom: 20px;
    z-index: 0;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 550;
    font-display: swap;
    z-index: 0;
}
form button{
    padding: 15px;
    background: #BD945A;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 550;
    font-display: swap;
    z-index: 0;
}

button[type=submit]:hover {
    color: black;
    transition: ease-in-out .5s;
  }

  @media (max-width: 1440px) {

    .socialMediasTwo {
      display: flex;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 30;
    }

    .toggle-button {
        display: flex;
        z-index: 40;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        display: flex;
    }

    .navbar-links ul li {
        text-align: center;
        
    }

    .navbar-links.active {
        display: flex;
        text-align: center;
    }

    .SBLLC
    {
      display: none;
    }

    .headerOne{
      width: 100%;
      position: fixed;
      background: #F6F1F0;
      top: 0%;
      bottom: 20%;
      left: 0%;
      transition: all .75 ease;
    }
    .headerOne.show {
      opacity: 1;
      height: 150px;
      width: 500px;
    }

    .text{
      width: 100%;
      position: fixed;
      background: #F6F1F0;
      top: 20%;
      bottom: 50%;
      left: 0%;       
    } 

    .headerOne:target {
      height: 50px;
    }

    .socialMedias {
      display: none;
    }

    .container{
        width: 100%;
        height: 100vh;
        background: #eee8e81c;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Cormorant SC';
        font-style: normal;
        font-weight: 550;
        font-display: swap;
        position: relative;
        top: 150px;
    }
    
}

.alert {
  padding: 20px;
  background-color: #BD945A; /* Red */
  color: white;
  margin-bottom: 15px;
  text-align: center;
  font-size: larger;
  z-index: 10;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

@media (max-height: 1000px){
  .container{
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 550;
    font-display: swap;
    animation: fadeinout 1.5s;
    z-index: 0;
}
}