@keyframes fadeinout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.img-gallery{
    width: 120%;
    height: auto;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    animation: fadeinout 1.5s;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
}

.img-gallery img:hover{
    transform: scale(1.05);
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}

.full{
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0; 
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}


.full img{
    width: 90%;
    max-width: 500px;
}

.full span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;


}

/*CUT OFF*/

.pullImagesTogether{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  
  .pullImagesTogether .heading{
    width: 90%;
    padding-bottom: 50px;
  }

  
  .pullImagesTogether .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .pullImagesTogether .box .seamless{
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  
  .pullImagesTogether .box .seamless img{
    width: 100%;
    padding-bottom: 15px;

  }
  
  
  @media only screen and (max-width: 769px){
      .pullImagesTogether .box{
     flex-direction: column;
    }
  
  .pullImagesTogether .box .seamless{
    width: 100%;
  }

  }
  
  @media only screen and (max-width: 2200px){
  .pullImagesTogether .heading{
    width: 100%;
  }
  .pullImagesTogether .heading h3{
    font-size: 1em;
  
  }
  
  .img-gallery{
    width: 120%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    animation: fadeinout .5s;
}

  }

  @media only screen and (max-width: 1900px){
    .pullImagesTogether .heading{
      width: 100%;
    }
    .pullImagesTogether .heading h3{
      font-size: 1em;
    
    }
    
    .img-gallery{
      width: 100%;
      margin: 100px auto 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 25px;
      animation: fadeinout .5s;
  }
  
    }