
*{
  margin: 0;
  padding: 0;
  font-family: 'Cormorant SC';
}

body {
  background-color: transparent;
}

li
{
  list-style: none;
  
}

@keyframes fadeinout {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.headerOne
{
  position: fixed;
  background: #F6F1F0;
  top: 0%;
  bottom: 0%;
  left: 0%;
  padding: 0 5em;
  text-align: center;
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 550;
  font-display: swap;
  animation: fadeinout .5s;
  z-index: 20;
}


.headerOne a:visited 
{
  color: black;
} 

.headerOne a
{
  color: black;
}

a
{
  text-decoration: none;    
}

.text
{
  position: fixed;
  top: 215px;
  line-height: 50px;
  left: 135px;
}

.text a:hover
{
  color: snow;
  transition: ease-in-out .5s;
}
.SBLLC
{
  line-height: 20px;
}

.SBLLC1
{
  font-size: 2em;
  margin-top: 45px;
  color: #BD945A;
}

.SBLLC2::before
{
content: "";
display:block;
width: 55px;
height:1px;
font-weight: 100;
background: #000;
position: absolute;
left: 55px;
top: 6.7em;
}

.SBLLC2::after
{
content: "";
display:block;
width: 55px;
height:1px;
font-weight: 100;
background: #000;
position: absolute;
left: 230px;
top: 6.7em;
}

.SBLLC3
{
  font-size: 17px;
  text-align: center;
  color: #BD945A;
}

.socialMedias
{
  position: fixed;
  left: 125px;
  bottom: 60px;
  font-size: 25px;
  letter-spacing: 2em;
  font-weight: 100;
  z-index: 100;
  
}

.socialMedias a
{
 color: #000;
}

.socialMedias li
{
  display: inline;
  float: left;
  text-align: center;
  
}

.socialMedias a:hover
{
 color: #BD945A;
 transition: ease-in-out 1s;
}


.Hello
{
  font-size: 45px;
  text-decoration: underline 1px;
  text-underline-offset: 20px;
  line-height: 100px;
}
/*
.flora{
  width: 10%;
  width: 10%;
  margin: -100px 100px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  animation: fadeinout .5s;
  position: absolute;
  right: 750px;
  bottom: -20px;
  max-width: 600px
}

.flora2{
  transform: scale(-1, -1);
  width: 10%;
  margin: -100px 100px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  animation: fadeinout .5s;
  position: absolute;
  left: 750px;
  top: 135px;
  max-width: 600px
}
*/
/*
.back {
  width: 22.5%;
  margin: 40px 600px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1500px, 1fr));
  grid-gap: 30px;
  animation: fadeinout .5s;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
*/
.container4{
  width: 88%;
  display: flex;
  justify-content: right;
  text-align: center;
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 550;
  animation: fadeinout 1.5s;
  position: relative;
  bottom: 23vw;
}

.container4 p {
  background: #f8f4f4c4;
  display: flex;
  flex-direction: column;
  padding: 2vw 7vw;
  width: 90%;
  max-width: 600px;
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 550;
  font-size: x-large;
  position: absolute;
}

form{
  background: #f8f4f4;
  display: flex;
  flex-direction: column;
  padding: 2vw 7vw;
  width: 90%;
  max-width: 600px;
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 550;
  font-display: swap;
  font-size: x-large;
  z-index: -20;
}
.image1{
  display: flex;
  justify-content: right;
  width: 80%;
  padding-top: 110px;
}

.image2{
  display: flex;
  justify-content: left;
  padding-top: 110px;
  position: relative;
  left: 715px;
}

.image3{
  display: flex;
  justify-content: right;
  width: 80%;
  padding-top: 110px;
}
.row{
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}


.column {
  float: right;
  width: 13.33%;
  padding: 45px;
  
}

.row2::after { 
  content: "";
  clear: both;
  display: table;
}

.text2bride{
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1vw 1vw;
  width: 85%;
  max-width: 600px;
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 550;
  font-display: swap;
  font-size: large;
  z-index: -20;
  text-align: center;
}

.seeMore{
  line-height: 40px;
  text-decoration: none;
  background-color: #BD945A;
  color: white;
  display: inline-block;
  font-size: 15px;
  padding: 2px;
  transition: 0.35s;
}

.seeMore:hover {
  text-decoration: none;
  background-color: white;
  border-color: white;
  color: black;
}

/* THIS IS THE NAV BAR NO CODE UNLESS IT CONTRIBUTES TO IT */

h5 {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

.offcanvas-body {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

.navbar-brand {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

.nav-item {
  text-align: center;
}

.TB1 {
  font-size: 1rem;
  text-align: center;
  color: #BD945A;
}

.container-fluid {
  background-color: #F6F1F0;
}

.offcanvas-body {
  background-color: #F6F1F0;
}

.offcanvas-header {
  background-color: #F6F1F0;
}

.dropdown-menu {
  background-color: #F6F1F0;
  text-align: center;
}

.bg-body-tertiary {
  background-color: black;
}

html { 
  background: url(images/5480712.webp) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbarAppear {
  display: none;
}
@media screen and (max-width: 1900px) {
    .navbarAppear {
      display: flex;
      margin-bottom: -20px;
    }

    .headerOne {
      display: none;
    }

    .socialMedias {
      display: none;
    }


}
/* THIS IS FRONT PRESENTATION BAR NO CODE UNLESS IT CONTRIBUTES TO IT */
.page-header {
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px ;
}

#presentation {
  font-family: 'Dancing Script';
  color: white;
  font-size: 11em;
  text-align: center;
}

#presentation-sub {
  font-family: 'Dancing Script';
  color: white;
  font-size: 3.5em;
  text-align: center;
}

@media(max-width: 530px){
  #presentation {
    font-family: 'Dancing Script';
    color: white;
    font-size: 7em;
    text-align: center;
  }

  #presentation-sub {
    font-family: 'Dancing Script';
    color: white;
    font-size: 2.5em;
    text-align: center;
  }
}
/* THIS IS FRONT ABOUT SECTION NO CODE UNLESS IT CONTRIBUTES TO IT */

.images1 {
  max-width: 160%;
  height: auto;
}

:focus {
  outline: 0;
}

.paddind_bottom_0 {
  padding-bottom: 0 !important;
}

.about_section {
  width: 100%;
  float: left;
}

.about_taital {
  width: 100%;
  float: left;
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding-top: 150px;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 20px;
  color: #535353;
  margin: 0px;
  /* border: 1px solid green ;
  background-color: #000; */
}

.about_section_2 {
  width: 100%;
  float: left;
  padding-top: 275px;
  padding-bottom: 100px;
}

.image_2 {
  width: 60%;
  float: left;
  border: 1px solid black;
  padding: 40px;
  margin: 30px 0px 0px 115px;
  }

.image_2::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(../images/arrow-1.png);
  left: 100px;
  right: initial;
  top: 0px;
}

.image_2::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(../images/arrow-1.png);
  left: initial;
  right: 0px;
  bottom: 0px;
}

.readmore_bt {
  width: 170px;
  float: left;
  margin-top: 30px;
}

.readmore_bt a {
  width: 100%;
  float: left;
  font-size: 18px;
  color: white;
  background-color: #BD945A;
  border: 1px solid #b48569;
  padding: 8px 5px;
  text-align: center;
  font-weight: 500;
}

.readmore_bt a:hover {
  color: #BD945A;
  background-color: white;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 767px)
{
.col-md-6{
  text-align: center;
}

.readmore_bt {
  width: 100%; 
 text-align: center;

}

.images1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.image_2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.about_taital {
  padding-top: 0px;
}

.about_section_2 {
  padding-top: 0px;
}

}

/* about section end */

:root, [data-bs-theme=light] {
  --bs-body-bg: #F6F1F0;
}

@media (min-width: 1px)
{
.navbar-nav {
    float: center; 
    margin: 0;

}
}


 .liveButton {
  margin: 0;
  position: absolute;
  left: 90%;
  background-color: #BD945A;
}

.btn-primary {
  color: #ffffff;
  background-color: #BD945A;
  border-color: white;
}

.btn-primary:hover {
  color: black;
  background-color: white;
  border-color: #BD945A;
}

.ending {
  text-align: center;
  border: 1px solid #BD945A;
  padding: 50px 10px;
  margin-bottom: -250px;
 }

 .nav-link {
  text-align: center;
 }